target/classes/deltaflightsbydestination.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    
 <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="http://mu.mulesoft-training.com/essentials/delta?wsdl" service="TicketServiceService" port="TicketServicePort" serviceAddress="http://mu.mulesoft-training.com/essentials/delta" doc:name="Web Service Consumer"/>
 
    
    <flow name="deltaflightsbydestinationFlow">
        <logger message="deltaflightsbydestinationFlow starts........." level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: inboundProperties."http.query.params".destination
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="findFlight" doc:name="Web Service Consumer"/>
        <set-payload value="#[payload]" mimeType="application/xml" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="78450e9c-02fb-4fc8-9238-71e4a4c8f21c">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	flights: payload.ns0#findFlightResponse.*return map ((return , indexOfReturn) -> {
		code: return.code,
		price: return.price,
		origin: return.origin,
		destination: return.destination,
		departureDate: return.departureDate,
		planeType: return.planeType,
		airlineName: return.airlineName,
		emptySeats: return.emptySeats
	})
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="Resposne from delaairlines........ #[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>
     
     
        <choice-exception-strategy doc:name="Choice Exception Strategy">
           
           
            <catch-exception-strategy doc:name="Catch Exception Strategy" when="#[exception.causedBy(com.mulesoft.weave.mule.exception.WeaveExecutionException)]">
                <set-payload value="{
&quot;message&quot;:&quot;Exception while transforming the payload&quot;
}
" mimeType="application/json" doc:name="Set Payload"/>
            </catch-exception-strategy>
            <exception-strategy ref="GlobalExecptionStrtergy" doc:name="Reference Exception Strategy"/>
            
            
         
        
        </choice-exception-strategy>
    </flow>
</mule>
