target/classes/restapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="restapi-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    <apikit:config name="restapi-config" raml="restapi.raml" consoleEnabled="false" doc:name="Router" />
    <flow name="restapi-main">
        <http:listener config-ref="restapi-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="restapi-config" doc:name="APIkit Router" />
       <exception-strategy ref="restapi-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" /> 
    </flow>
 <!--    <flow name="restapi-console">
        <http:listener config-ref="restapi-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="restapi-config" doc:name="APIkit Console" />
    </flow> -->
    <flow name="get:/unitedFlightsByDestination:restapi-config">
        <flow-ref name="unitedflightsbydestinationFlow" doc:name="unitedflightsbydestinationFlow" />
        <logger message="Final response is ...... #[payload]" level="INFO" doc:name="Logger" />
    </flow>
    <flow name="get:/listAllUnitedFlights:restapi-config">
        <flow-ref name="listallunitedflightsFlow" doc:name="listallunitedflightsFlow" />
    </flow>
    <flow name="get:/deltaFlightsByDestination:restapi-config">
        <flow-ref name="deltaflightsbydestinationFlow" doc:name="deltaflightsbydestinationFlow" />
    </flow>
    <flow name="get:/listAllDeltaFlights:restapi-config">
        <flow-ref name="listalldeltaflightsFlow" doc:name="listalldeltaflightsFlow" />
    </flow>
    <flow name="get:/listAllFlightsByDestination:restapi-config">
        <flow-ref name="listallflightsbydestinationFlow" doc:name="listallflightsbydestinationFlow"/>

    </flow>
    <apikit:mapping-exception-strategy name="restapi-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
